.parking-lot-form { 
    margin: 2rem; 
    border: 1.2px rgb(26, 25, 35);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;
    background: linear-gradient(to bottom, rgb(45, 45, 45), rgb(15, 14, 20)); 
    padding: 2rem; 
    text-align: left;
    min-width: 210px;
}   